<p>child works!{{child}}</p>


<button (click)="inc()">Clicked {{ count }} times</button>

<div class="card">
      <h3>Reusable Card Component</h3>
     <div *ngIf="showContent"> <ng-content></ng-content>  </div>
      <header><ng-content select="[header]"></ng-content></header>
      <section><ng-content select="[body]"></ng-content></section>
      <footer><ng-content select="[footer]"></ng-content></footer>
</div>

<p>Route Parameter ID: {{ id }}</p>


  <h3>HttpClient</h3>
    <button (click)="load()">Load Users</button>
    <p *ngIf="loading">Loading...</p>
    <p *ngIf="error" style="color:crimson">{{ error }}</p>
    <ul>
      <li *ngFor="let u of users">{{ u.name }} ({{ u.email }})</li>
</ul>